atimgpud.dll
binkw32.dll
high.ini
installscript.vdf
low.ini
medium.ini
readme.txt
skse_1_9_32.dll
skse_loader.exe
skse_steam_boot.exe
skse_steam_loader.dll
SkyrimLauncher.exe
Skyrim_default.ini
steam_api.dll
TESV.exe
VeryHigh.ini
Data/Alternate\ Start\ -\ Live\ Another\ Life\ Dungeon\ Compatibility.txt
Data/Alternate\ Start\ -\ Live\ Another\ Life\ Extension\ Documentation.txt
Data/Alternate\ Start\ -\ Live\ Another\ Life.bsa
Data/Alternate\ Start\ -\ Live\ Another\ Life.esp
Data/Alternate\ Start\ -\ Live\ Another\ Life.ini
Data/Alternate\ Start\ -\ Live\ Another\ Life.txt
Data/Dawnguard.bsa
Data/Dawnguard.esm
Data/Dragonborn.bsa
Data/Dragonborn.esm
Data/HearthFires.bsa
Data/HearthFires.esm
Data/Skyrim\ -\ Animations.bsa
Data/Skyrim\ -\ Interface.bsa
Data/Skyrim\ -\ Meshes.bsa
Data/Skyrim\ -\ Misc.bsa
Data/Skyrim\ -\ Shaders.bsa
Data/Skyrim\ -\ Sounds.bsa
Data/Skyrim\ -\ Textures.bsa
Data/Skyrim\ -\ Voices.bsa
Data/Skyrim\ -\ VoicesExtra.bsa
Data/Skyrim.esm
Data/Update.bsa
Data/Update.esm
Data/vortex.deployment.json
Data/Interface/Translate_ENGLISH.txt
Data/scripts/activemagiceffect.pex
Data/scripts/actor.pex
Data/scripts/actorbase.pex
Data/scripts/actorvalueinfo.pex
Data/scripts/alias.pex
Data/scripts/ammo.pex
Data/scripts/apparatus.pex
Data/scripts/armor.pex
Data/scripts/armoraddon.pex
Data/scripts/art.pex
Data/scripts/book.pex
Data/scripts/cell.pex
Data/scripts/colorcomponent.pex
Data/scripts/colorform.pex
Data/scripts/combatstyle.pex
Data/scripts/constructibleobject.pex
Data/scripts/defaultobjectmanager.pex
Data/scripts/enchantment.pex
Data/scripts/equipslot.pex
Data/scripts/faction.pex
Data/scripts/flora.pex
Data/scripts/form.pex
Data/scripts/formlist.pex
Data/scripts/formtype.pex
Data/scripts/game.pex
Data/scripts/gamedata.pex
Data/scripts/headpart.pex
Data/scripts/ingredient.pex
Data/scripts/input.pex
Data/scripts/keyword.pex
Data/scripts/leveledactor.pex
Data/scripts/leveleditem.pex
Data/scripts/leveledspell.pex
Data/scripts/magiceffect.pex
Data/scripts/math.pex
Data/scripts/modevent.pex
Data/scripts/netimmerse.pex
Data/scripts/objectreference.pex
Data/scripts/outfit.pex
Data/scripts/perk.pex
Data/scripts/potion.pex
Data/scripts/quest.pex
Data/scripts/race.pex
Data/scripts/scroll.pex
Data/scripts/shout.pex
Data/scripts/skse.pex
Data/scripts/soulgem.pex
Data/scripts/sound.pex
Data/scripts/sounddescriptor.pex
Data/scripts/spawnertask.pex
Data/scripts/spell.pex
Data/scripts/stringutil.pex
Data/scripts/textureset.pex
Data/scripts/treeobject.pex
Data/scripts/ui.pex
Data/scripts/uicallback.pex
Data/scripts/utility.pex
Data/scripts/weapon.pex
Data/scripts/weather.pex
Data/scripts/wornobject.pex
Data/Strings/Skyrim_English.DLSTRINGS
Data/Strings/Skyrim_English.ILSTRINGS
Data/Strings/Skyrim_English.STRINGS
Data/Strings/Update_English.DLSTRINGS
Data/Strings/Update_English.ILSTRINGS
Data/Strings/Update_English.STRINGS
Data/Video/BGS_Logo.bik
DirectX10/Apr2005_d3dx9_25_x64.cab
DirectX10/Apr2005_d3dx9_25_x86.cab
DirectX10/Apr2006_d3dx9_30_x64.cab
DirectX10/Apr2006_d3dx9_30_x86.cab
DirectX10/Apr2006_MDX1_x86.cab
DirectX10/Apr2006_MDX1_x86_Archive.cab
DirectX10/Apr2006_XACT_x64.cab
DirectX10/Apr2006_XACT_x86.cab
DirectX10/Apr2006_xinput_x64.cab
DirectX10/Apr2006_xinput_x86.cab
DirectX10/APR2007_d3dx10_33_x64.cab
DirectX10/APR2007_d3dx10_33_x86.cab
DirectX10/APR2007_d3dx9_33_x64.cab
DirectX10/APR2007_d3dx9_33_x86.cab
DirectX10/APR2007_XACT_x64.cab
DirectX10/APR2007_XACT_x86.cab
DirectX10/APR2007_xinput_x64.cab
DirectX10/APR2007_xinput_x86.cab
DirectX10/Aug2005_d3dx9_27_x64.cab
DirectX10/Aug2005_d3dx9_27_x86.cab
DirectX10/AUG2006_XACT_x64.cab
DirectX10/AUG2006_XACT_x86.cab
DirectX10/AUG2006_xinput_x64.cab
DirectX10/AUG2006_xinput_x86.cab
DirectX10/AUG2007_d3dx10_35_x64.cab
DirectX10/AUG2007_d3dx10_35_x86.cab
DirectX10/AUG2007_d3dx9_35_x64.cab
DirectX10/AUG2007_d3dx9_35_x86.cab
DirectX10/AUG2007_XACT_x64.cab
DirectX10/AUG2007_XACT_x86.cab
DirectX10/Aug2008_d3dx10_39_x64.cab
DirectX10/Aug2008_d3dx10_39_x86.cab
DirectX10/Aug2008_d3dx9_39_x64.cab
DirectX10/Aug2008_d3dx9_39_x86.cab
DirectX10/Aug2008_XACT_x64.cab
DirectX10/Aug2008_XACT_x86.cab
DirectX10/Aug2008_XAudio_x64.cab
DirectX10/Aug2008_XAudio_x86.cab
DirectX10/Aug2009_D3DCompiler_42_x64.cab
DirectX10/Aug2009_D3DCompiler_42_x86.cab
DirectX10/Aug2009_d3dcsx_42_x64.cab
DirectX10/Aug2009_d3dcsx_42_x86.cab
DirectX10/Aug2009_d3dx10_42_x64.cab
DirectX10/Aug2009_d3dx10_42_x86.cab
DirectX10/Aug2009_d3dx11_42_x64.cab
DirectX10/Aug2009_d3dx11_42_x86.cab
DirectX10/Aug2009_d3dx9_42_x64.cab
DirectX10/Aug2009_d3dx9_42_x86.cab
DirectX10/Aug2009_XACT_x64.cab
DirectX10/Aug2009_XACT_x86.cab
DirectX10/Aug2009_XAudio_x64.cab
DirectX10/Aug2009_XAudio_x86.cab
DirectX10/BDANT.cab
DirectX10/BDAXP.cab
DirectX10/Dec2005_d3dx9_28_x64.cab
DirectX10/Dec2005_d3dx9_28_x86.cab
DirectX10/DEC2006_d3dx10_00_x64.cab
DirectX10/DEC2006_d3dx10_00_x86.cab
DirectX10/DEC2006_d3dx9_32_x64.cab
DirectX10/DEC2006_d3dx9_32_x86.cab
DirectX10/DEC2006_XACT_x64.cab
DirectX10/DEC2006_XACT_x86.cab
DirectX10/DSETUP.dll
DirectX10/dsetup32.dll
DirectX10/dxdllreg_x86.cab
DirectX10/dxnt.cab
DirectX10/DXSETUP.exe
DirectX10/dxupdate.cab
DirectX10/Feb2005_d3dx9_24_x64.cab
DirectX10/Feb2005_d3dx9_24_x86.cab
DirectX10/Feb2006_d3dx9_29_x64.cab
DirectX10/Feb2006_d3dx9_29_x86.cab
DirectX10/Feb2006_XACT_x64.cab
DirectX10/Feb2006_XACT_x86.cab
DirectX10/FEB2007_XACT_x64.cab
DirectX10/FEB2007_XACT_x86.cab
DirectX10/Feb2010_X3DAudio_x64.cab
DirectX10/Feb2010_X3DAudio_x86.cab
DirectX10/Feb2010_XACT_x64.cab
DirectX10/Feb2010_XACT_x86.cab
DirectX10/Feb2010_XAudio_x64.cab
DirectX10/Feb2010_XAudio_x86.cab
DirectX10/Jun2005_d3dx9_26_x64.cab
DirectX10/Jun2005_d3dx9_26_x86.cab
DirectX10/JUN2006_XACT_x64.cab
DirectX10/JUN2006_XACT_x86.cab
DirectX10/JUN2007_d3dx10_34_x64.cab
DirectX10/JUN2007_d3dx10_34_x86.cab
DirectX10/JUN2007_d3dx9_34_x64.cab
DirectX10/JUN2007_d3dx9_34_x86.cab
DirectX10/JUN2007_XACT_x64.cab
DirectX10/JUN2007_XACT_x86.cab
DirectX10/JUN2008_d3dx10_38_x64.cab
DirectX10/JUN2008_d3dx10_38_x86.cab
DirectX10/JUN2008_d3dx9_38_x64.cab
DirectX10/JUN2008_d3dx9_38_x86.cab
DirectX10/JUN2008_X3DAudio_x64.cab
DirectX10/JUN2008_X3DAudio_x86.cab
DirectX10/JUN2008_XACT_x64.cab
DirectX10/JUN2008_XACT_x86.cab
DirectX10/JUN2008_XAudio_x64.cab
DirectX10/JUN2008_XAudio_x86.cab
DirectX10/Mar2008_d3dx10_37_x64.cab
DirectX10/Mar2008_d3dx10_37_x86.cab
DirectX10/Mar2008_d3dx9_37_x64.cab
DirectX10/Mar2008_d3dx9_37_x86.cab
DirectX10/Mar2008_X3DAudio_x64.cab
DirectX10/Mar2008_X3DAudio_x86.cab
DirectX10/Mar2008_XACT_x64.cab
DirectX10/Mar2008_XACT_x86.cab
DirectX10/Mar2008_XAudio_x64.cab
DirectX10/Mar2008_XAudio_x86.cab
DirectX10/Mar2009_d3dx10_41_x64.cab
DirectX10/Mar2009_d3dx10_41_x86.cab
DirectX10/Mar2009_d3dx9_41_x64.cab
DirectX10/Mar2009_d3dx9_41_x86.cab
DirectX10/Mar2009_X3DAudio_x64.cab
DirectX10/Mar2009_X3DAudio_x86.cab
DirectX10/Mar2009_XACT_x64.cab
DirectX10/Mar2009_XACT_x86.cab
DirectX10/Mar2009_XAudio_x64.cab
DirectX10/Mar2009_XAudio_x86.cab
DirectX10/Nov2007_d3dx10_36_x64.cab
DirectX10/Nov2007_d3dx10_36_x86.cab
DirectX10/Nov2007_d3dx9_36_x64.cab
DirectX10/Nov2007_d3dx9_36_x86.cab
DirectX10/NOV2007_X3DAudio_x64.cab
DirectX10/NOV2007_X3DAudio_x86.cab
DirectX10/NOV2007_XACT_x64.cab
DirectX10/NOV2007_XACT_x86.cab
DirectX10/Nov2008_d3dx10_40_x64.cab
DirectX10/Nov2008_d3dx10_40_x86.cab
DirectX10/Nov2008_d3dx9_40_x64.cab
DirectX10/Nov2008_d3dx9_40_x86.cab
DirectX10/Nov2008_X3DAudio_x64.cab
DirectX10/Nov2008_X3DAudio_x86.cab
DirectX10/Nov2008_XACT_x64.cab
DirectX10/Nov2008_XACT_x86.cab
DirectX10/Nov2008_XAudio_x64.cab
DirectX10/Nov2008_XAudio_x86.cab
DirectX10/Oct2005_xinput_x64.cab
DirectX10/Oct2005_xinput_x86.cab
DirectX10/OCT2006_d3dx9_31_x64.cab
DirectX10/OCT2006_d3dx9_31_x86.cab
DirectX10/OCT2006_XACT_x64.cab
DirectX10/OCT2006_XACT_x86.cab
DotNetFX/dotnetfx35setup.exe
Skyrim/SkyrimPrefs.ini
VCRedist/vcredist_x86.exe
